@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html,body{
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e5375;
  z-index: 2;
}
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.header__logo {
  flex: 0 0 50px;
  border-radius: 50%;
  z-index: 3;
}
.header__logo img{
  max-width: 100%;
  display: block;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header__link{
  text-transform: uppercase;
  font-size: 18px;
  color: rgba(216, 199, 102, 0.575);
}
.header__list li{
  margin-left: 20px;
}
.content {
  padding-top: 70px;
}
.content__text {
  font-size: 16px;
  line-height: 25px;
}
.content__text p{
  margin-bottom: 10px;
  text-align: justify;
  text-indent: 40px;
}
@media (max-width: 767px){
  body.lock{
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span{
    position: absolute;
    background-color: rgba(216, 199, 102, 0.575);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.05s;
  }
  .header__burger::before, .header__burger::after{
    content: '';
    background: rgba(216, 199, 102, 0.575);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }
  .header__burger::before{
    top: 0;
  }
  .header__burger::after{
    bottom: 0;
  }
  .header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a9a1b9;
    padding-top: 70px;
    transition: all 0.3s;
    overflow: auto;
  }
  .header__menu.active{
    top: 0;
    transition: all 0.3s;
  }
  .header__body{
    height: 50px;
  }
  .header__link{
    color: rgba(122, 106, 13, 0.808);
    font-size: 20px;
  }
  .header__list{
    display: block;
  }
  .header__list li{
    margin-bottom: 20px;
  }
  .content{
    padding-top: 60px;
  }
  .content__text p{
    text-indent: 30px;
  }
}